$primary: #cfe7e5;
$primary_strong: #a1d2ce;
$accent: purple;
$danger: red;
$danger_light: #ee90a2;
$disabled: #989898;
$neutral: #c2c2c2;

$text_light: #535353;
$text_contrast: rgba(0, 0, 0 / 0.6);

$background_danger: #efe0e0;

$shadow_light: #00000054;

$md-breakpoint-up: 768px;
